@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body {
  background: url("/assets/images/np.jpeg") no-repeat center center fixed;
  background-size: cover;
}

h1, label, .cred-labels {
  color: #fff;
}

h2 {
  color: #E48A76;
}

h3 {
  padding-left: 1%;
}

body {
  font-family: 'Fjalla One', sans-serif;
  // background-color: #D8C1BC;
}

p {
  padding-left: 1%;
}

.action-buttons {
  // clear:both;
  float: right;
}

.all-parks {
  overflow: scroll;
  position: relative;
}

.parks-list {
  background-color: #fff;
  border: 1px solid #DDD;
  clear: both;
  padding: 0 0 4%;

}

.parks-description {
  color: #696969;
}

.parks-header {
  padding-top: 0;
}

.navbar-header {
  max-width: inherit;
}
