@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
  background: url("http://i.imgur.com/8tFOa3P.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Lato', sans-serif;

}

h1, label, .cred-labels {
  color: #64605F;
}

h1 {
  color: #fff;
  padding-left: 0;
}

h2 {
  color: #fff;
}

h3 {
  padding-left: 1%;
}

p {
  padding-left: 1%;
}

.action-buttons {
  // clear:both;
  float: right;
}

.all-parks {
  overflow: scroll;
  position: relative;
}

.parks-list {
  background-color: #fff;
  border: 1px solid #DDD;
  clear: both;
  padding: 0 0 4%;

}

.parks-description {
  color: #696969;
}

.parks-header {
  padding-top: 0;
}

.navbar-header {
  max-width: inherit;
}
