@import 'bootstrap';
@import 'bootstrap/theme';
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

h1, label, .cred-labels {
  color: #fff;
}

body {
  font-family: 'Fjalla One', sans-serif;
  // background-color: #DCDCDC;
}

.action-buttons {
  // clear:both;
  float: right;
}

.all-parks {
  overflow: scroll;
  position: relative;
}

.parks-list {
  background-color: #fff;
  border: 1px solid #DDD;
  border-radius: 15px;
  clear: both;

}

.navbar-header {
  max-width: inherit;
}
