<h2>MY NATIONAL PARKS</h2>
<!-- <br> -->
{{#each model as |park|}}
  {{#if park.editable}}
    <div class="parks-list">
      <h3 id="park-titles" class="parks-header">{{park.name}}, {{park.location}} </h3>
      <p id="park-description" class="parks-description">Description: {{park.description}}</p>

      {{#link-to "update-park" park}}
        <button class="btn btn-default btn-sm action-buttons" >
          Edit Park
        </button>
      {{/link-to}}

      <button type="submit" class="btn btn-default btn-sm action-buttons" {{action "deletePark" park}}>
        Delete
      </button>
    </div>
  {{/if}}
  <br>
{{/each}}
