<!-- <div class="parks">

<h4 class="park-name">"{{park.name}}"</h4>
<h4 class="park-location">"{{park.location}}"</h4>
<h4 class="park-description">"{{park.description}}"</h4>

<div class="edit-buttons">

  <h3 class="my-parks" id="warning">Delete park?</h3>
  <button class="btn btn-md btn-danger" {{action "deletePark"}}>
    Delete
  </button>

  {{#link-to 'my-parks'}}
  <button class="btn btn-default">
   Go back  </button>
  {{/link-to}}
   <hr class= "style-two">

</div>
</div> -->
