<h2>See what others have to say!</h2>


<div class="col-md-8 col-md-offset-2">


  {{#each model as |park|}}
    <div>
      <h3 id="park-titles" class="my-parks">{{park.name}}, {{park.location}} </h3>
      <h4 id="park-description" class="my-parks">{{park.description}}</h4>
    </div>
      <br>
  {{/each}}


 </div>
