<h2>See what others are saying!</h2>
<br>

<div class="all-parks">
  {{#each model as |park|}}
    <div class="parks-list">
      <h3 id="park-titles" class="parks-header">  {{park.name}}, {{park.location}} </h3>
      <p id="park-description" class="parks-description">{{park.description}}</p>
    </div>
  {{/each}}
</div>
