<!-- <h2>Parks Visited</h2>
{{#each model as |park|}}
  {{#link-to 'park' park}}
    {{parks name=park.name}}
    {{parks location=park.location}}
    {{parks description=park.description}}
    {{/link-to}}
{{/each}} -->
