<!-- {{#link-to "update-park" park}} -->
<button class="btn btn-default btn-sm">
  Edit Park
</button>
  <!-- {{/link-to}} -->

  <!-- {{#link-to 'park' park}} -->
  <button type="submit" id="delete" class="btn btn-default btn-sm" {{action "deletePark"}}>
    Delete
  </button>
  <!-- {{/link-to}} -->
